{% extends 'dashboard/info_page_base.html' %}
{% load static %}
{% block page_title %}Add new pipeline{% endblock page_title %}
{% block side_links %}
    <div class="list-group list-group-transparent mb-0">
        <a href="#" class="list-group-item list-group-item-action active"><span class="icon mr-3"><i
                class="fe fe-flag"></i></span>Documentation</a>
    </div>
{% endblock side_links %}
{% block body_content %}
    <form method="post" action="" name="new-pipeline-form" id="new-pipeline-form">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="pipeline-name">Name</label>
            <input type="text" class="form-control" name="pipeline-name" placeholder="Name.." id="pipeline-name"
                   maxlength="255"
                   style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
        </div>
        <div class="form-group">
            <label class="form-label" for="pipeline-description">Description</label>
            <textarea class="form-control" name="pipeline-description" id="pipeline-description" rows="6"
                      maxlength="1000"
                      placeholder=""></textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="pipeline-git-repo">Git repository URL</label>
            <input type="text" class="form-control" name="pipeline-git-repo" placeholder="Git repository URL"
                   maxlength="500"
                   id="pipeline-git-repo"
                   style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">

        </div>

        <div class="form-group">
            <label class="form-label" for="pipeline-script">Pipeline script</label>
            <textarea class="form-control" name="pipeline-script" id="pipeline-script" rows="6" maxlength="5000"
                      placeholder=""></textarea>
        </div>
        <div class="card-footer text-right">
            <div class="d-flex">
                <a href="javascript:document.getElementById('new-pipeline-form').reset()"
                   class="btn btn-link">Cancel</a>
                <button type="submit" class="btn btn-primary ml-auto">Send data</button>
            </div>
        </div>
    </form>

    <!-- CodeMirror dependencies -->
    {#    <script src="{% static 'dashboard/thirdparty/codemirror/lib/codemirror.js' %}"></script>#}
    <link href="{% static 'dashboard/thirdparty/codemirror/lib/codemirror.css' %}" rel="stylesheet"/>
    {#    <script src="{% static 'dashboard/thirdparty/codemirror/mode/javascript/javascript.js' %}"></script>#}
    <script>
        require(["thirdparty/codemirror/lib/codemirror", "thirdparty/codemirror/mode/javascript/javascript"], function (CodeMirror) {
            CodeMirror.fromTextArea(document.getElementById("pipeline-script"), {
                lineNumbers: true,
                mode: "javascript"
            });
        });
        {#let textArea = document.getElementById("pipeline-script");#}
        {#let codeEditor = CodeMirror.fromTextArea(textArea);#}
    </script>
{% endblock body_content %}
