{% extends 'dashboard/info_page_base.html' %}
{% load static %}
{% block page_title %}{{ pipeline.name }}{% endblock %}
{% block body_content %}
    <h5>Description</h5>
    <p>{{ pipeline.description }}</p>
    <h5>Repository URL</h5>
    <p>{{ pipeline.repo_url }}</p>
    <h5>Pipeline script</h5>
    <textarea name="pipeline-script" id="pipeline-script">{{ pipeline.script }}</textarea>


    <!-- CodeMirror dependencies -->
    <link href="{% static 'dashboard/thirdparty/codemirror/lib/codemirror.css' %}" rel="stylesheet"/>
    <script>
        require(["thirdparty/codemirror/lib/codemirror", "thirdparty/codemirror/mode/yaml/yaml"], function (CodeMirror) {
            CodeMirror.fromTextArea(document.getElementById("pipeline-script"), {
                lineNumbers: true,
                mode: "yaml",
                readOnly: true,
            });
        });
    </script>
{% endblock %}
{% block side_links %}
    {% if request.user == pipeline.user %}
        <a href="{% url 'pipelinehandler:dashboard-handler' %}" class="btn btn-block btn-primary mb-6">
            <i class="fe fe-play-circle mr-2"></i>Start pipeline</a>
        <a href="{{ pipeline.get_absolute_url }}delete" class="btn btn-block btn-danger mb-6">
            <i class="fe fe-trash-2 mr-2"></i>Delete pipeline</a>
    {% endif %}
    <hr>
{% endblock %}