<div class="card card-collapsed">
    <div class="card-status bg-yellow"></div>
    <div class="card-header">
        <h3 class="card-title">Build #{{ build_number }}.{{ subversion }}</h3>
        <div class="card-options">
            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                    class="fe fe-chevron-up"></i></a>
        </div>
    </div>
    <div class="card-body">
        Build started {{ timeago }}.
    </div>
    <div class="card-footer">
        <a href="#">View</a>
    </div>
</div>