{% extends 'dashboard/info_page_base.html' %}
{% load static %}
{% block page_title %}{{ title }}{% endblock page_title %}
{% block side_links %}
{#    <div class="list-group list-group-transparent mb-0">#}
{#        <a href="#" class="list-group-item list-group-item-action active"><span class="icon mr-3"><i#}
{#                class="fe fe-flag"></i></span>Documentation</a>#}
{#    </div>#}
{% endblock side_links %}
{% block body_content %}
    {% include 'dashboard/form.html' %}


    <!-- CodeMirror dependencies -->
    <link href="{% static 'dashboard/thirdparty/codemirror/lib/codemirror.css' %}" rel="stylesheet"/>
    <script>
        require(["thirdparty/codemirror/lib/codemirror", "thirdparty/codemirror/mode/yaml/yaml"], function (CodeMirror) {
            CodeMirror.fromTextArea(document.getElementById("{{ form.script.id_for_label }}"), {
                lineNumbers: true,
                mode: "yaml",
            });
        });
    </script>
{% endblock body_content %}
